* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: purple;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: orange;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.navbar .nav-links a {
  margin-left: 25px;
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
}

.navbar .nav-links a:hover {
  color: #00e6e6;
}
.about-section {
  background-color:purple;
  color: #fff;
  padding: 80px 50px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.about-text {
  max-width: 600px;
  margin-bottom: 30px;
}

.about-text h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

.about-text h2 span {
  color: #00e6e6;
}

.about-text h3 {
  font-size: 24px;
  color: #ccc;
  margin-bottom: 20px;
}

.about-text p {
  color: #aaa;
  line-height: 1.7;
  margin-bottom: 15px;
}
.social-icons a:hover {
  color: #ffffff;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #00e6e6;
  color: #000;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 15px #00e6e6;
  transition: 0.3s;
}

.btn:hover {
  background: #fff;
  color: #00e6e6;
}


.about-image {
  text-align: center;
}

.image-border {
  border-radius: 50%;
  padding: 6px;
  background: linear-gradient(135deg, #00e6e6, #ff00ff);
  box-shadow: 0 0 25px #00e6e6;
  display: inline-block;
}

.image-border img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
}
